circle.node {
  stroke-width: 2;
}

line.link {
  stroke: #555;
  stroke-opacity: 1.;
  /*stroke-width: 2px;*/
}
.container {
    width: 98%;
    height: 98%;
    background: aqua;
    margin: auto;
    padding: 10px;
}
.one {
    width: 65%;
    height: 95%;
    background: red;
    float: left;
}
.two {
    width: 35%;
    height: 95%;
    background: black;
}



div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
